<h1 class="text-center">Vehicle Details</h1>

<table class="table table-borderless table-dark">
  <thead>
    <tr>
      <th scope="col" (click)="sort('id')">
        Id&nbsp;<i class="fa fa-sort"></i>
      </th>
      <th scope="col" (click)="sort('ownerName')">
        Owner Named&nbsp;<i class="fa fa-sort"></i>
      </th>
      <th scope="col" (click)="sort('manufacturerName')">
        Manufacturerd&nbsp;<i class="fa fa-sort"></i>
      </th>
      <th scope="col" (click)="sort('manufactureYear')">
        Year of Manufactured&nbsp;<i class="fa fa-sort"></i>
      </th>
      <th scope="col" (click)="sort('vehicleWeight')">
        Weight(Kg)&nbsp;<i class="fa fa-sort"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles | sort: (reverse ? 'asc' : 'desc'):key">
      <th scope="row">{{ vehicle.id }}</th>
      <th scope="row">{{ vehicle.ownerName }}</th>
      <th scope="row">{{ vehicle.manufacturerName }}</th>
      <th scope="row">{{ vehicle.manufactureYear }}</th>
      <th scope="row">
        <i [ngClass]="iconClass(vehicle)" aria-hidden="true"></i
        >{{ vehicle.vehicleWeight + " Kg" }}
      </th>

      <th>
        <button
          (click)="edit(vehicle)"
          data-target="#exampleModal"
          color="primary"
          type="button"
          class="btn btn-info"
          aria-label="Left Align"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-pen"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
            />
          </svg>
        </button>
      </th>
      <th>
        <button
          (click)="removeVehicle(vehicle)"
          color="primary"
          type="button"
          class="btn btn-info"
          aria-label="Left Align"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-trash"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
      </th>
    </tr>
    <tr *ngIf="vehicles?.length === 0">
      <th scope="row">There are no vehicle entries...</th>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <button
    (click)="addButtonClick()"
    color="primary"
    type="button"
    class="btn btn-info"
    aria-label="Left Align"
  >
    <svg
      width="2em"
      height="2em"
      viewBox="0 0 16 16"
      class="bi bi-plus-circle-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
      />
    </svg>
    Add More
  </button>
</div>

<form [formGroup]="vehicleForm">
  <table
    id="addTable"
    style="display: none"
    class="table table-borderless table-dark"
  >
    <h3 class="text-center">
      {{ add ? "Add Vehicle Details" : "Update Vehicle Details" }}
    </h3>

    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Owner Name</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Year of Manufacture</th>
        <th scope="col">Weight(Kg)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th scope="row">
          <input
            type="text"
            placeholder="Owner Name"
            formControlName="ownerName"
            required
          />
          <tr
            *ngIf="ownerName.invalid && (ownerName.dirty || ownerName.touched)"
          >
            <label *ngIf="ownerName.errors.required"> Name is required. </label>
            <label *ngIf="ownerName.errors.minlength">
              Minimum 4 characters are allowed.
            </label>
            <label *ngIf="ownerName.errors.maxlength">
              Up to 30 characters are allowed.
            </label>
            <label *ngIf="ownerName.errors.pattern"> Invalid name. </label>
          </tr>
        </th>

        <th scope="row">
          <select required formControlName="manufacturerId">
            <option *ngFor="let m of manufacturers" [value]="m.id">
              {{ m.name }}
            </option>
          </select>
          <tr
            *ngIf="
              manufacturerId.invalid &&
              (manufacturerId.dirty || manufacturerId.touched)
            "
          >
            <label *ngIf="manufacturerId.errors.required">
              Manufacturer is required.
            </label>
          </tr>
        </th>
        <th>
          <input
            type="number"
            step="1"
            placeholder="1995"
            required
            formControlName="manufactureYear"
          />
          <tr
            *ngIf="
              manufactureYear.invalid &&
              (manufactureYear.dirty || manufactureYear.touched)
            "
          >
            <label *ngIf="manufactureYear.errors.required">
              Year is required.
            </label>
            <label
              *ngIf="manufactureYear.errors.min || manufactureYear.errors.max"
            >
              Invalid year.
            </label>
          </tr>
        </th>
        <th>
          <input
            type="number"
            min="0.00"
            placeholder="2000.00 Kg"
            required
            formControlName="vehicleWeight"
          />
          <tr
            *ngIf="
              vehicleWeight.invalid &&
              (vehicleWeight.dirty || vehicleWeight.touched)
            "
          >
            <label *ngIf="vehicleWeight.errors.required">
              Weight is required.
            </label>
            <label *ngIf="vehicleWeight.errors.min || vehicleWeight.errors.max">
              Invalid weight.
            </label>
            <label *ngIf="vehicleWeight.errors.pattern">
              Only up to 2 decimal points are allowed.
            </label>
          </tr>
        </th>
      </tr>
    </tbody>
    <button
      [disabled]="vehicleForm.invalid"
      (click)="submitAdd()"
      color="primary"
      type="button"
      class="btn btn-info"
      aria-label="Left Align"
    >
      <svg
        width="2em"
        height="2em"
        viewBox="0 0 16 16"
        class="bi bi-plus-circle-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
        />
      </svg>
      {{ add ? "Add" : "Update" }}
    </button>
  </table>
</form>
